{% extends "base.html" %}

{% block content %}
    <h1>About</h1>
    <dl>
    <dt><b>Instructors</b></dt>
        <dd>Create your own course section and let the algorithm do all the grunt work behind team assignments.  Optimal assignments, every time.</dd>
        <br>
    <dt><b>Students</b></dt>
        <dd>Find the appropriate course section for your assignment and sign into your roleplay's page.  Your teammates / partners / archenemies will become visible once the instructors approve the assignments. </dd>
    </dl>
    Made with Flask, Heroku, and lots of <3 by Jeffrey Cheng.
{% endblock %}
z