<!doctype html>
<html lang="en-us">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,600" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,600" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="css/styles.css">
<head>
<meta charset="UTF-8" http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CIS 160 Fall 2017 Course Page - University of Pennsylvania</title>
</head>

<body>
  <div id="header">
    <div class="container">
      <header>
        <div id="title">
          <h1>CIS 160</h1>
        </div>
        <div id="caption">
            <h2>Mathematical Foundations of Computer Science</h2>
            <h3>Spring 2018</h3>
        </div>
      </header>
    </div>
  </div>
  <div id="nav-bar">
      <nav>
        <ul>
          <a href="index.html"><li>Home</li></a>
          <a href="homework.html"><li>Homework</li></a>
          <a href="lectures.html"><li>Lectures</li></a>
          <a href="recitations.html"><li>Recitations</li></a>
          <a href="exams.html"><li>Exams</li></a>
          <a href="staff.html"><li>Staff</li></a>
          <a href="schedule.html"><li>Schedule</li></a>
          <a href="resources.html"><li>Resources</li></a>
        </ul>
      </nav>
  </div>
  <div id="content-container" class="container">
    	<div class="text-container">
        <section>
          <h1>Welcome</h1>
          <p>Welcome to the Spring 2018 iteration of CIS 160!</p>
          <p>If you're new here, welcome!</p>
          <p>If you're looking to get started with LaTeX, grab our <a href="files/resources/latex_setup_guide.pdf">LaTeX Setup Guide</a> to get started!</p>
          <p>We have a <a href="https://piazza.com/class/jc5b5033miu61z">course Piazza page</a>.</p>
          <p>We have a <a href="https://canvas.upenn.edu/courses/1391670">course Canvas page</a>. It will be used for exam grading and attendance.</p>
	  <p>We have a <a href="https://gradescope.com/courses/14079">course Gradescope</a>. It will be used for homeworks. The entry code is <b>MWYK74</b>.</p>
          <p>Most questions should be directed to Piazza. However, if you need to get in contact with the course staff for an urgent matter, please email us at <a href="mailto:CIS160-18-sp-staff@googlegroups.com">CIS160-18sp-staff@googlegroups.com</a>.</p>
        </section>
        <section>
          <h2>Topics</h2>
          <p>The course will cover at least some of the following topics (not necessarily in this order and not all-inclusive). See lectures for additional information.</p>
          <ul>
            <li>Set Theory</li>
            <li>Combinatorics</li>
            <li>Probability</li>
            <li>Relations and Functions</li>
            <li>Proofs</li>
            <li>Graph Theory</li>
            <li><a href="http://www.thepigeonholeprinciple.com">The Pigeonhole Principle</a></li>
          </ul>
        </section>
        <section>
          <h2>Grading</h2>
          <p>Grading will be weighted with the following breakdown:</p>
          <ul>
            <li>20% - Homework</li>
            <li>10% - Recitation Attendance</li>
            <li>15% - Midterm 1</li>
            <li>15% - Midterm 2</li>
	    <li>15% - Midterm 3</li>
            <li>25% - Final</li>
          </ul>
          <p>Your lowest homework grade will be dropped when calculating final grades.</p>
        </section>
        <section>
          <!--<h2>Collaboration Policy</h2>
          <p>For all of the assignments, there is a strict policy on collaboration. There is no collaboration on the homework assignments at all.</p>
          <p>Any violation of this policy will be dealt with severely.</p>
        </section> -->
        <section>
          <h2>Textbook</h2>
          <p>There is no required or recommended textbook for this course. A textbook that can be referred to for extra reading is ''Mathematics: A Discrete Introduction'' by E. A. Scheinerman.</p>
        </section>
        </div>
    </div>
</body>
</html>
