{% extends "base.html" %}

{% block content %}
    <h1>{{ section_name }}</h1>
    {% if roleplays %}
        <p>Select a roleplay below.</p>
    {% endif %}
    <ul>
    {% for roleplay in roleplays %}
        <li>
            <a href= {{ '/' + roleplay.section_name }}/{{ roleplay.number }}>
                Roleplay {{ roleplay.number }}: {{ roleplay.name }}
            </a>
        </li>
    {% endfor %}
    </ul>
    <form action="" method="post">
        <button name="submit" value="add">+New Roleplay (Instructors Only)</button>
    </form>
{#    {% for roleplay in roleplays %}#}
{#        <form action="" method="post">#}
{#        <button name="submit" value={{ roleplay.number }}>Roleplay {{ roleplay.number }}: {{ roleplay.name }}</button>#}
{#        </form>#}
{#    {% endfor %}#}
{% endblock %}
