{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="about">
			<div class="row">
				<div class="recent">
					<button class="btn-primarys"><h3>Contact</h3></button>
					<hr>
				</div>
			</div>
		<div class="row">
			<div class="row-slider">
				<div class="col-lg-6">
					<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.2s">
						<div class="thumnails">
							<h3>E-mail</h3>
							<dl>
							  <dt>Personal</dt>
							  <dd>- jeff.s.cheng@gmail.com</dd>
							  <dt>School</dt>
							  <dd>- jeffch@wharton.upenn.edu</dd>
							</dl>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.2s">
						<div class="thumnails">
							<h3>Other platforms</h3>
							<dl>
								<dt>LinkedIn</dt>
								<dd>- https://www.linkedin.com/in/jeffrey-s-cheng/</dd>
								<dt>GitHub</dt>
							  	<dd>- https://github.com/jeffreyscheng</dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
