{% extends "base.html" %}
{% block content %}
<!-- Nav tabs -->
<ul class="nav nav-tabs nav-justified">
    <li class="active nav-item">
        <a class="nav-link active" data-toggle="tab" href="#panel1" role="tab">Education</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#panel2" role="tab">Work</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#panel3" role="tab">Research</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#panel3" role="tab">Skills</a>
    </li>
</ul>
<!-- Tab panels -->
<div class="tab-content card">
    <!--EDUCATION-->
    <br/>
    <div class="tab-pane fade in active" id="panel1" role="tabpanel">
            <div class="row">
                <div class="col-md-2">
                    <p>2017-2019</p>
                </div>
                <div class="col-md-5">
                    <p><strong> Graduate Submatriculation </strong><br />
                        Master of Science in Engineering, Data Science <br />
                        Concentration in Machine Learning ○ GPA: 4.00/4.00 <br />
                    </p>
                </div>
                <div class="col-md-5">
                    <p><strong> Notable Courses </strong><br />
                        <strong>STAT 927</strong>: Bayesian Computation<br/>
                        <strong>CIS 625</strong>: Computational Learning Theory<br />
                        <strong>CIS 545</strong>: Big Data<br />
                        <strong>ESE 530</strong>: Measure-Theoretic Probability<br />
                        <strong>CIS 520</strong>: Machine Learning<br/>
                        <strong>MATH 508</strong>: Real Analysis<br />
                    </p>
                </div>
            </div>
        <div class="row">
                <div class="col-md-2">
                    <p>2015-2019</p>
                </div>
                <div class="col-md-5">
                    <p><strong> The Jerome Fisher Program in Management & Technology </strong><br />
                        Bachelor of Science in Engineering, Computer Science <br />
                        Bachelor of Science in Economics, Entrepreneurial Management <br />
                    </p>
                </div>
                <div class="col-md-5">
                    <p><strong> Notable Courses </strong><br />
                        <strong>MKTG 776</strong>: Quant Marketing<br/>
                        <strong>STAT 431</strong>: Statistical Inference<br />
                        <strong>NETS 412</strong>: Algorithmic Game Theory<br />
                        <strong>CIS 320</strong>: Algorithms<br/>
                        <strong>MGMT 291</strong>: Negotiations<br />
                        <strong>MGMT 237</strong>: Management of Technology<br />
                    </p>
                </div>
            </div>
    </div>
<!--</div>-->
    <!--&lt;!&ndash;/.Panel 1&ndash;&gt;-->
<!--<div class="tab-content card">-->
    <!--WORK-->
    <div class="tab-pane fade" id="panel2" role="tabpanel">
        <br>
            <div class="row">
                <div class="col-md-2">
                    <p>2017-2019</p>
                </div>
                <div class="col-md-5">
                    <p><strong> Graduate Submatriculation </strong><br />
                        Master of Science in Engineering, Data Science <br />
                        Concentration in Machine Learning ○ GPA: 4.00/4.00 <br />
                    </p>
                </div>
                <div class="col-md-5">
                    <p><strong> Notable Courses </strong><br />
                        <strong>STAT 927</strong>: Bayesian Computation<br/>
                        <strong>CIS 625</strong>: Computational Learning Theory<br />
                        <strong>CIS 545</strong>: Big Data<br />
                        <strong>ESE 530</strong>: Measure-Theoretic Probability<br />
                        <strong>CIS 520</strong>: Machine Learning<br/>
                        <strong>MATH 508</strong>: Real Analysis<br />
                    </p>
                </div>
            </div>
    </div>
    <!--/.Panel 2-->
    <!--RESEARCH-->
    <div class="tab-pane fade" id="panel3" role="tabpanel">
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus
            reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione
            porro voluptate odit minima.</p>
    </div>
    <!--/.Panel 3-->
    <!--PROJECTS-->
    <div class="tab-pane fade" id="panel3" role="tabpanel">
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus
            reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione
            porro voluptate odit minima.</p>
    </div>
    <!--/.Panel 3-->
    <!--SKILLS-->
    <div class="tab-pane fade" id="panel3" role="tabpanel">
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus
            reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione
            porro voluptate odit minima.</p>
    </div>
    <!--/.Panel 3-->
</div>
{% endblock %}