{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="col-lg-5">
		<!--<div class="page-header">-->
			<div class="blog">
				<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.2s">
					<!--<div class="col-lg-6 mar-bot30">-->
						<!--<div class="align-center">-->
							<img alt="" class="img-responsive" src="/static/img/jeffrey/headshot.jpg" width = "70%"/></li>
						<!--</div>-->
					<!--</div>-->
				</div>
			</div>
		<!--</div>-->
	</div>
	<div class="col-lg-7">
		<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.4s">
			<div class="thumnails">
				<h4>Student in CS ○ Management ○ Data Science</h4>
				<h4>Researcher in AI / Neuroscience</h4>
				<h4>Developer in Applied ML</h4>
				<p>I'm a junior in UPenn's M&T program, always on the lookout for exciting projects.
					I like to keep my fingers in lots of pies, so this website is a central collection of all of my work -- from the purely academic to the absurdly whimsical.</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
